<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheet.css">
</head>
<body>
    <header>
        <h1>
          Company LTD  
        </h1>
    </header>
    <section1 class= "structure">
    <h2>
        Our History
    </h2>
    <p>
        Company LTD was founded in 2019 in the StartUp Ecosystem of 22@ district in Barcelona.
    </p>
    <article class='our mision'>
        <h3>Our Mision</h3>
        <p>
            Our mission is to bring the best insurance service to our customers.
        </p>
    </article>

    
    </section>
</body>
</html>