\\A Home page, that welcomes the visitor and links to the other pages on the website.

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheet.css">
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li><a href="/views/about.html">About</a></li>
          <li><a href="/views/works.html">Works</a></li>
          <li><a href="/views/photo-gallery.html">photo-gallery</a></li>
      </nav>
    <head>
        <h1>
            Hello dear Visitro welcome to our web page!!! Spend your money with us!!
        </h1>
        
    </head>
</body>
</html>