<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=w, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheet.css">
</head>
<body>
    <header>
        <h1>
            Our clients
        </h1>
    
    </header>

    <section1>
        <h2>
            THIS ARE SOME OF THE CLIENTS WE HAPPILY HELP TO IMPROVE HEALTH
        </h2>
        <ul>
            <li>MAPHRE</li>
            <li>SWISS ASSURANCE</li>
        </ul>

    </section>
</body>
</html>